@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
	background-image: url('../img/foto3.jpg');
}
.titulo{
    background-color: #FAAC58;
    padding: 0.4em;
    margin: 1px; 
}
.container{
	background: #fff;
	border-radius: 4px;
}
/*----------------------------------------------------Menu*/
header{
	width: 100%;
	background:#4E94A8;
}
header label{
	width: 30px;
	height: 30px;
	padding: 1px;
	border-right: 1px solid #fff;
}
header label: hover{
	cursor:pointer;
	background: rgba(0,0,0,0.3);
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.menu li{
	border-top: 1px solid #fff;
}
.menu li:hover{
	background: rgba(0,0,0,0.3);
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
.menu{
	position: absolute;
	background: #4E94A8;
	width: 70%;
	margin-left: -100%;
	transition: all 0.5s;

}
#btn-menu{
	display: none;
}
#btn-menu:checked ~ .menu{
	margin: 0;
}
#salir{
	width: 100%;
    color: #753234;
    background-color: #0A2A12;
}
#usuarios{
	width: 100%;
     background-color: #0A2229}
#salir:hover{
    background: rgba(0,0,0,0.3);
}
#usuarios:hover{
    background: rgba(0,0,0,0.3);
}

/*----------------------------------------------------Menu*/

/*----------------------------------------------------Tabla*/
table{
    border-color: #A4A4A4;
}
table tr td{
	font-family: 'Ubuntu', sans-serif;    	
    border-color: #1C1C1C;
    border: 1px solid;
}
table tr th{
   background-color: #FA5858;
   border: 1px solid;
}
.td{
    color: #fff;
}

.table-container {
  overflow-x: auto; 
}
#table-rwd {
  min-width: 900px; }
  #table-rwd td:first-child {
    background: #fff;
    width: 6.2em; 
    height: 3.5em; 
}
  #table-rwd tr:hover td:first-child {
    background: #1A8CFF;
    color: #fff; }
  #table-rwd tr:nth-child(2) td:first-child {
    box-shadow: 0 -3.1em 0 -1px #FA5858;}
/*----------------------------------------------------Tabla*/
/*-----------------------------------------------Contactos*/
.contactos{
    width: 100%;
    background-color: #346123;
}
.contacto1{
     border: 1px solid #fff;
     background-color: #CEECF5;
     width: 100%;
     float: left;
     padding: 1em;
     text-align: justify;
     font-style: italic;
}
.contacto2{
    border: 1px solid #fff;   
    background-color: #CEECF5;
    width: 100%;
    float: right;
    padding: 1em;
}
.contactos2 label{
    background-color: #123456;
}
#mensaje{
    height: 100px;
    size: 40;
}
/*-------------------------------------------------*/
#foot{
    margin-left:10px;
    width: 80%: 
    background-color:#135343;
}