@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
	background-image: url('../img/foto3.jpg');
}
/*----------------------------------------------------Tabla*/
table{
    border-color: #A4A4A4;
}
table tr td{
	font-family: 'Ubuntu', sans-serif;    	
    border-color: #1C1C1C;
    border: 1px solid;
}
table tr th{
   background-color: #FA5858;
   border: 1px solid;
}
.td{
    color: #fff;
}
.opciones{
    background: #D0F5A9;
    border:1px solid;
    color: #000;
    border-color: #5FB404;
    padding-left: 80%;   
}
#agregarpedido{
    
}
/*----------------------------------------------------Tabla*/
.titulo{
    background-color: #FAAC58;
    padding: 0.4em;
    padding-left: 15em;
    margin: 20px; 
}
.container{
    background: #fff;
    border-radius: 4px;
}
/*----------------------------------------------------Menu*/
header{
    width: 100%;
    background:#4E94A8;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label: hover{
    cursor:pointer;
    background: rgba(0,0,0,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li{
    border-right: 1px solid #fff;
}
.menu li:hover{
    background: rgba(0,0,0,0.3);
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
#salir{
    margin-left: 18.5em;
    color: #753234;
    background-color: #0A2A12;
}
#usuarios{
     background-color: #0A2229}
#salir:hover{
    background: rgba(0,0,0,0.3);
}
#usuarios:hover{
    background: rgba(0,0,0,0.3);
}
/*----------------------------------------------------Menu*/
/*-----------------------------------------------Contactos*/
.contactos{
    width: 100%;
    background-color: #346123;
}
.contacto1{
     border: 1px solid #fff;
     background-color: #CEECF5;
     width: 30%;
     height: 500px;
     float: left;
     padding: 1em;
     text-align: justify;
     font-style: italic;
}
.contacto2{
    border: 1px solid #fff;   
    background-color: #CEECF5;
    width: 70%;
    height: 500px;
    float: right;
    padding: 1em;
    color: #084B8A;
}
#mensaje{
    height: 100px;
    size: 40;
}
/*-------------------------------------------------*/
#foot{
    text-align: center;
    width: 80%: 
    background-color:#135343;
}

/*@media screen and (max-width: 800px) {
.articulos ,section,footer,body,.container{
width: 140%;

}}*/