
/*@import url('https://fonts.googleapis.com/css?family=Chewy');*/
*{
	padding: 0;
	margin:0;
}

	.hr-success{
	    background-color: #fff;
		border-top: 2px dashed #8c8b8b;
	}
	h1,label{
		text-align: center;
	}
	.conta{
		width: 600px;
		margin:auto;
		border: 5px solid #632443;
		padding: 30px 50px 60px;
		background: #fff;
		border-radius: 7px;
		margin-top: 50px;
	}
	body{
	    background-image: url('foto7.png');
	    background-size: 100%;
	    opacity: 0.9;
	    margin:auto;
	    padding: auto;
	    width: 90%;
	}
	.error{
		color: #000;
	}
	.enviar{
		background: #36D05E;
		color: #fff;
		border-radius:8px;
		height: 50px;
	}
	.form-control{
		border-bottom:3px solid #B45F04;
	}
	#avatar{
		width: 12em;
		height: 12em;
		margin: auto;
		margin-bottom: 1em;
		display: block;
	}
	